#header{
  
  background-color: rgba(0, 0, 0, 0.24);  
}

#h1{
  background-image: url("image/c8.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#h2{
  
  background-color: rgba(0, 0, 0, 0.24);  
}
#h3{
  
  background-color: rgba(0, 0, 0, 0.24);  
}